<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/sub-project1">Sub Project 1</mat-list-item>
      <mat-list-item routerLink="/sub-project2">Sub Project 2</mat-list-item>
      <mat-list-item routerLink="/sub-project3">Licensing</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
