table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
    text-align: center;
  }
  
  button {
    color: #f44336;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 24px;  /* Increase the gap between buttons */
    margin-bottom: 24px;  /* Increase the space between buttons and the table */
  }